<style>
TD.aside {font-size: smaller;}
</style>
<table align="center" cellpadding="10">
    <tr>
		<td><H2>${defaultAbout.title}</H2></td>
    </tr>
	<tr>
	    <td>${defaultAbout.name}${defaultAbout.details}<br/>${defaultAbout.copyright}</td>
    </tr>
    <tr>
	    <td class="aside">
                ${defaultAbout.text}
                <a target="_blank" href="https://www.gnu.org/licenses/agpl-3.0.en.html#license-text">${defaultAbout.licenseText}</a>
        </td>
	</tr>
</table>