<?xml version='1.0' encoding='ISO-8859-1'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- Servlets -->
    <servlet>
        <servlet-name>PresenceStatusServlet</servlet-name>
        <servlet-class>org.sipfoundry.openfire.plugin.presence.servlets.PresenceStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatRoomManagementServlet</servlet-name>
        <servlet-class>org.sipfoundry.openfire.plugin.presence.servlets.ChatRoomManagementServlet</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>PresenceStatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatRoomManagementServlet</servlet-name>
        <url-pattern>/chatroom</url-pattern>
    </servlet-mapping>

</web-app>

